{% extends 'mainapp/base.html' %}

{% block content %}
<h4 style="color:dodgerblue;position:relative;left:200px;top:-50px;"> {{ user.username }} </h4>

<div style="position:relative;left:800px;">
	{% if user.is_authenticated %}
	<a href="{% url 'create-question' %}" class="btn btn-primary" role="button">Create Question</a>
	{% endif %}
</div>

{% for question in questions %}
<div class="media border p-3">
	<div class="media-body">
		<h3 style="color: slateblue;"><strong>{{ question.title }}</strong></h3>
		<h4 style="color:green;"><small><i>{{ question.asked_user }} on {{ question.date_posted }}</i></small></h4>
		<p style="font-size: 20px;"> {{ question.content | truncatechars:100 }} </p>
	</div>
	<form  class="form-inline" action="/displaycontent" method="post">
		{% csrf_token %}
		<input type="hidden" id="question_id" name="question_id" value={{ question.id }}>
		<button type="submit" class="btn btn-success">View</button>

		<button type="submit" class="btn btn-primary" formaction="/createanswer" formmethod="get">Answer</button>
	</form>
</div>
{% endfor %}
{% endblock content %}